body {
    background: #fff url("media/site_background.jpg") no-repeat 50% 0;
    font-family: sans-serif;
}

header {
    margin-bottom: 15px;
    height: 80px;
}

header > a {
    display: block;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.content {
    background-color: #fff;
    padding: 29px;
    border: 1px solid;
    margin-bottom: 30px;
}

.headline {
    color: #fff;
    background: #d9d9d9 url("media/headline_background.jpg");
    padding: 5px 10px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}

.video {
    margin-bottom: 10px;
}

.cta {
    margin-bottom: 10px;
}

.cta > a {
    color: #ab0000;
    display: block;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.row {
    font-size: 0;
    margin-bottom: 20px;
}

.row:last-child {
    margin-bottom: 0;
}

.thing {
    width: 210px;
    display: inline-block;
    margin: 0 10px;
    font-size: 12px;
}

.thing img {
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
}

.thing:first-child {
    margin-left: 0;
}

.thing:last-child {
    margin-right: 0;
}

span.count {
    vertical-align: top;
}

.stars {
    width: 60px;
    height: 13px;
    display: inline-block;
    background: url("media/rating_stars.png") 0 0 no-repeat;
}

.star_0 {
    background-position: 0 0;
}

.star_1 {
    background-position: 0 -13px;
}

.star_2 {
    background-position: 0 -26px;
}

.star_3 {
    background-position: 0 -39px;
}

.star_4 {
    background-position: 0 -52px;
}

.star_5 {
    background-position: 0 -65px;
}

.star_6 {
    background-position: 0 -78px;
}

.star_7 {
    background-position: 0 -91px;
}

.star_8 {
    background-position: 0 -104px;
}

.star_9 {
    background-position: 0 -117px;
}

.star_10 {
    background-position: 0 -130px;
}

.action {
    margin-bottom: 30px;
}

#signup {
    width: 600px;
    height: 100px;
    display: block;
    margin: 0 auto;
    background: url("media/button_register.png") 0 0 no-repeat;
}

#signup:hover {
    background-position: 0 -104px;
}

#signuptext {
    display: block;
    text-align: center;
    font-size: 12px;
}

footer > p {
    color: #aaa;
    font-size: 12px;
}

/* Hide download button */
/* video::-internal-media-controls-download-button { */
/* display:none; */
/* } */

/* video::-webkit-media-controls-enclosure { */
/* overflow:hidden; */
/* } */

/* video::-webkit-media-controls-panel { */
/* width: calc(100% + 30px); */
/* } */